@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            //bağlantı kuruldu
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7287/MyHub").build();
            $("#conStatus").text(connection.state);


            //bağlantı başlatıldı
            connection.start().then(() => {
                $("#conStatus").text(connection.state);

            }).catch((err) => { console.log(err) })

            $("#conStatus").text(connection.state);

            //servera istek
            $("#btnNameSave").click(() => {

                connection.invoke("SendName", $("#txtName").val()).catch((err) => { console.log(err) })
            })


            //serverda olan metota bağlanıldı.
            connection.on("ReceiveName", (name) => {
                console.log(name);
            })

        });

    </script>

}
<div class="col-md-8 offset-2">
    <input class="form-control" type="text" id="txtName" />
    <hr />
    <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>

    <div class="alert alert-info">
        Bağlantı durumu :  <strong id="conStatus"></strong>
    </div>
</div>