@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            //bağlantı kuruldu
            var connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Debug).withAutomaticReconnect([1000, 3000, 5000, 8000, 30000]).withUrl("https://localhost:7287/MyHub").build();
            showStatus();
            Start();

            function showStatus(){
                $("#conStatus").text(connection.state);
            }

            function Start() {
               
            connection.start().then(() => {
                $("#loading").hide();
                showStatus();


                connection.invoke("GetNames");


            }).catch((err) => { 
                console.log(err);
                setTimeout(() => Start(), 2000)
            });


            }

            showStatus();

            connection.onreconnecting(err => {
                $("#loading").show();
                showStatus();
                console.log("onreconnection : " + err);
            })

            connection.onreconnected(connectionId => {
                $("#loading").hide();
                showStatus();
                console.log("connectionId : " + connectionId);
            })

            connection.onclose(() => {
                $("#loading").hide();
                showStatus();
                Start();

            })

            connection.on("ReceiveClientCount", (clientCount) => {
                $("#clientCount").text(clientCount);
            })

            connection.on("Notify", (countText) => {
                $("#notify").html(`<div class = "alert alert-success">${countText} </div>`)
            })

            connection.on("Error", (errorText) =>{
                alert(errorText)
            })

            connection.on("ReceiveNames", (names)=>{
                
                $("#nameList").empty();

                names.forEach((item, index) => {
                    $("#nameList").append(`<li class="list-group-item">${item}</li>`)
                })

            })


            //servera istek
            $("#btnNameSave").click(() => {

                connection.invoke("SendName", $("#txtName").val()).catch((err) => { console.log(err) })
            })


            //serverda olan metota bağlanıldı.
            connection.on("ReceiveName", (name) => {
                $("#nameList").append(`<li class = "list-group-item" >${name}</li>`)
            })

        });

    </script>

}
<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <div class="alert alert-info"> 
            <div class="float-left">
                Bağlantı durumu :  <strong id="conStatus"></strong>,
                Client Sayısı : <strong id="clientCount"></strong>
            </div>
            <div class="float-right">
                <div class="spinner-border" role="status" id="loading">
                    <span class="visually-hidden">Loading...</span>
                </div>
           </div>
           <div class="clearfix"></div>
       </div
    </div>

    <div id ="notify"></div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="nameList"></ul>
    </div>
</div>
