@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            //bağlantı kuruldu
            var connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Debug).withAutomaticReconnect([1000, 3000, 5000, 8000, 30000]).withUrl("https://localhost:7287/MyHub").build();
            $("#conStatus").text(connection.state);


            //bağlantı başlatıldı
            connection.start().then(() => {
                $("#loading").hide();
                $("#conStatus").text(connection.state);

            }).catch((err) => { console.log(err) });

            $("#conStatus").text(connection.state);


            connection.onreconnecting(err => {
                $("#loading").show();
                $("#conStatus").text(connection.state);
                console.log("onreconnection : " + err);
            })

            connection.onreconnected(connectionId => {
                $("#loading").hide();
                $("#conStatus").text(connection.state);
                console.log("connectionId : " + connectionId);
            })

            connection.onclose(() => {
                $("#loading").hide();
                $("#conStatus").text(connection.state);

            })









            //servera istek
            $("#btnNameSave").click(() => {

                connection.invoke("SendName", $("#txtName").val()).catch((err) => { console.log(err) })
            })


            //serverda olan metota bağlanıldı.
            connection.on("ReceiveName", (name) => {
                $("#nameList").append(`<li class = "list-group-item" >${name}</li>`)
            })

        });

    </script>

}
<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <div class="alert alert-info">
            <div class="float-left">
                Bağlantı durumu :  <strong id="conStatus"></strong>
            </div>
            <div class="float-right">
                <div class="spinner-border" role="status" id="loading">
                    <span class="visually-hidden">Loading...</span>
                </div>
           </div>
           <div class="clearfix"></div>
       </div
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="nameList"></ul>
    </div>
</div>
